@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Miniver&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-name = font-family: "Miniver", cursive; */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: inherit;
}


/* Header starts */

.header {
    width: 100%;
    height: 70px;
    background-color: #3f181c;
    position: sticky;
    top: 0px;
    z-index: 1;

}

.head-section {
    width: 90%;
    height: 100%;
    margin: auto;
    background-color: #3f181c;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.logo img {
    height: 60px;
    width: 60px;
    cursor: pointer;
}

.logo span {
    color: white;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
}


.nav-list {
    display: flex;
    justify-content: center;
    align-items: last baseline;
    color: white;
    gap: 5px;
    font-weight: 500;
}

.nav-list li {
    padding: 8px;

}

.nav-list li:hover {
    background-color: rgb(191, 137, 2);
    ;
    color: black;
    border-radius: 30px;
    padding: 8px;
    cursor: pointer;
}


/* Header ends */

/* Hero section starts */

.home-section {
    width: 100%;
    height: 530px;
    background-color: #3f181c;
}

.hero-section {
    width: 100%;
    height: 100%;
    display: flex;
}

.hero-section-left {
    width: 49%;
}


.best-coffee {
    margin: 130px 0px 0px 70px;
    font-family: "Miniver", cursive;
    color: rgb(191, 137, 2);
    font-size: 40px;
    font-weight: 700;
}

.spacial-coffee {
    margin: 10px 0px 0px 70px;
    font-size: 35px;
    font-weight: 500;
    color: white;
}

.sparks {
    margin: 20px 0px 0px 70px;
    /* font-size: 1px; */
    color: white;
}

.btn-grp {
    margin: 30px 0px 0px 70px;
}

.btn-grp button:nth-child(1) {
    background-color: rgb(191, 137, 2);
    padding: 10px 30px;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
}

.btn-grp button:nth-child(2) {
    background-color: transparent;
    border: 2px solid white;
    padding: 8px 28px;
    border-radius: 30px;
    color: white;
    font-weight: 600;
    margin-left: 30px;
    cursor: pointer;
}


.hero-section-right {
    width: 49%;
    height: 100%;
}

.hero-section-right img {
    width: 80%;
    height: 80%;
    margin: 80px 0px 0px 50px;
}

.btn-grp button:nth-child(1):hover {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 8px 28px;
}

.btn-grp button:nth-child(2):hover {
    background-color: rgb(191, 137, 2);
    color: black;
    padding: 10px 30px;
    border: none;
}



/*Hero section ends*/


/* About section starts */

.about-section {
    width: 100%;
    height: 500px;
    display: flex;
    background-color: #f8edee;
}

.about-section-left {
    height: 100%;
    width: 48%;
}

.about-image {
    height: 350px;
    width: 350px;
    margin: 30px 0px 0px 70px;
    background: url(Images/images/about-image.jpg);
    background-size: cover;
    border-radius: 50%;
    background-position: top center;
}

.about-section-right {
    height: 100%;
    width: 48%;
}

.about-section-right h1 {
    margin: 50px 0px 0px 250px;
    /* border-bottom: 5px solid rgb(191, 137, 2);s */
    /* width:170px; */
    font-size: 25px;
}

.underline {
    margin: 5px 0px 0px 275px;
    height: 4px;
    width: 70px;
    background-color: rgb(191, 137, 2);
    border-radius: 2px;
}

.about-section-right p {
    margin: 40px 0px 0px 0px;
    text-align: center;
    font-weight: 420;
}

.about-icons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 10px;
    font-size: 25px;

}

.about-icons i:hover {
    color: rgb(191, 137, 2);
    cursor: pointer;
}

/*About section ends */

/*Menu section starts*/

.menu-section {
    width: 100%;
    height: 1000px;
    background-color: #252525;
}

.menu-section h1 {
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
}

.underline-menu {
    margin: 0px 0px 0px 590px;
    background-color: rgb(191, 137, 2);
    height: 4px;
    border-radius: 2px;
    width: 90px;
    ;
}

.food-menu {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}


.menu-item1 {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 20px; */
    margin-top: 100px;
    position: relative;

}


    
.menu-item1 img {
    height: 250px;
    width: 250px;
    position: absolute;
    top: 0px;
    /* left: 60px; */

}

.menu-item1 h6 {
    font-size: 22px;
    font-weight: 500;
    color: white;
    text-align: center;
    position: absolute;
    top: 260px;
}

.menu-item1 p {
    color: white;
    text-align: center;
    font-size: 14px;
    width: 70%;
    position: absolute;
    top: 300px;
}


/*Menu section ends*/

/* Testmonails starts */

.main {
    width: 100%;
    height: 700px;
    background-color: white;
}

.testmonails-row-1 {
    font-size: 47px;
    display: flex;
    color: #3f181c;
    font-weight: 500;
    justify-content: center;
    align-items: center;

}

.testmonails-row-2 {

    height: 10px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.line-yello {
    height: 5px;
    width: 100px;
    border-radius: 30px;
    background-color: rgb(191, 137, 2)
}

.testmonails-row-3 {

    width: 100%;
    height: 400px;
    margin-top: 90px;

    display: flex;
    justify-content: space-around;
    padding-top: 60px;
}


.restmonails-box-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;


    width: 295px;
    height: 300px;
    border-radius: 50%;

}

.restmonails-box-image img {

    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.restmonails-box-img  p{ 

    text-align: center;
    width: 100%;
}
.testmonails-row-4 {
    margin-top: 100px;
    width: 100%;

    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.doit {

    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(191, 137, 2);
}


/*Testmonails ends*/